body {
  background-color: rgb(243, 224, 190);
  color: hsl(204, 21%, 43%);
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.basket-shop {
  position: relative;
}
.basket-shop i {
  font-size: 60px;
}

.basket-shop span {
  position: absolute;
  top: 13%;
  right: 49.5%;
  color: hsl(5, 100%, 69%);
}
