body {
  background-color: rgb(243, 224, 190);
  color: hsl(204, 21%, 43%);
}
ul {
  list-style: none;
  width: 40%;
  text-align: left;
}
ul li {
  margin: 10px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.list-item {
  display: flex;
  flex: 1;
}
.list-item span {
  margin-right: 20px;
}
.list-item-brand {
  flex: 1;
}
.basket-shop {
  position: relative;
}
.basket-shop i {
  font-size: 60px;
}

.basket-shop span {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  background-color: hsl(0, 0%, 100%);
  top: 13%;
  right: 48.5%;
  color: hsl(5, 100%, 69%);
}
